<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'nasdaq/style.css' %}">

</head>

<body>


        <div class = "container">
            <div class="row">
                <div class="col col-centered">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

</body>
</html>