<!DOCTYPE HTML>
<!--
    Solid State by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>Solid State by HTML5 UP</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../../static/nasdaq/assets/css/main.css" />
        <noscript><link rel="stylesheet" href="../../static/nasdaq/assets/css/noscript.css" /></noscript>

        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>

    <!-- Page Wrapper -->
        <div id="page-wrapper">
            <!-- Header -->
            <header id="header" class="alt">
                <nav id="navbar" class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">NESH</a>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href= "{% url 'news' Result.sym %}">News</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href= "{% url 'transcript' Result.sym %}">Transcript</a>
                        </li>
                    </ul>
                </nav>
            </header>
        <div class="container margin-top">

    <div class="row">
        <div class="col">
            <!--<div class="table-title">-->
            <h1 class="big_font"> Search Results </h1>
            <!--</div>-->
        </div>
    </div>

<div class="row">
        <div class="col">
{% if Flag != 0 %}
    <table class="table-fill">
        <tbody class="table-hover">
            <tr>
                <td class="text-center"><p>Company name:</p></td>
                <td class="text-center"><p>{{ Result.sym }}</p></td>
            </tr>

            <tr>
                <td class="text-center"><p>Market Capital:</p></td>
                <td class="text-center"><p>{{ Result.marketcap}}</p></td>
            </tr>

            <tr>
                <td class="text-center"><p>Net Cash Flow:</p></td>
                <td class="text-center"><p>{{ Result.net_cash_flow}}</p></td>
            </tr>

            <tr>
                <td class="text-center"><p>Last Year Revenue:</p></td>
                <td class="text-center"><p>{{ Result.last_year_revenue }}</p></td>
            </tr>

            <tr>
                <td class="text-center"><p>One Year Target:</p></td>
                <td class="text-center"><p>{{ Result.One_year_Target }}</p></td>
            </tr>
        </tbody>
    </table>
        </div></div>
    </div>
{% else %}
  No Results were found please check company symbol !!!
{% endif %}


            </div>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/browser.min.js"></script>
            <script src="assets/js/breakpoints.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>